@media only screen and (min-width: 1024px) {
  .container {
    padding-top: 0em;
    width: 100%;
    height: 15em;
    position: relative;
    margin-bottom: 5%;
  }
  #div_chua_anh_header {
    position: absolute;
    transform: translate(0, 0);
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 1;
    animation: zoom-out 1s ease forwards;
  }
  #anh_header {
    width: 100%;
    height: 100%;
    transform: scaleX(-1);
    margin-bottom: 20px;
}
  #div_chua_chu_header {
    position: relative;
    width: 40%;
    height: 80%;
    background-color: rgb(58, 51, 51);
    z-index: 2;
    animation: zoom-in 1.3s ease forwards;
    opacity: 0.5;
    left: 53%;
    top: 13%;
    border-radius: 10px;
    font-size: 0.85em;
    text-align: center;
    color: white;
    padding: 2% 2% 0% 2%;
  }
  @keyframes zoom-in {
    from {
      transform: translate(0, 0) scale(0.8);
    }
    to {
      transform: translate(0, 0) scale(1);
    }
  }
  
  @keyframes zoom-out {
    from {
      transform: translate(0, 0) scale(0.8);
    }
    to {
      transform: translate(0, 0) scale(1);
    }
  }
#section2 {
    display: grid;
    grid-template-rows: 23% 77%;
    padding: 20px 5%;
}
.div_chu {
    display: grid;
    grid-template-rows: 70px 70px;
}
.tieu_de_lon {
    text-align: center;
    text-decoration: none;
    font-size: 30px;
    font-family: ABeeZee;
    font-weight: lighter;
    font-style: italic;
    padding-bottom: 5px;
}
.lorem {
    padding-top: 1%;
    text-align: center;
    font-size: 20px;
    color: rgb(25, 163, 12);
}
#div2_anh {
    display: grid;
    grid-template-columns: 40% 30% 30%;
    padding-top: 15px;
}
#khoianh1_lead_glass {
    display:grid;
    grid-template-rows: 400px 90px;
    padding-right: 1%;
    animation: zoom-out 1s ease forwards;
}
#khoianh1_lead_curtains {
    display:grid;
    grid-template-rows: 400px 90px;
    padding-right: 2%;
    animation: zoom-out 1.1s ease forwards;
}
#khoianh1_xrays_grids {
    display: grid;
    grid-template-rows: 245px 245px;
}
#div_chua_xrays {
    display: grid;
    grid-template-rows: 160px 84px;
    animation: zoom-out 1.2s ease forwards;
    padding-bottom: 1px;
}
#div_chua_grids {
    padding-top: 1px;
    display: grid;
    grid-template-rows: 159px 85px;
    animation: zoom-out 1.3s ease forwards;
}
.div_chua_link_sp_noi_bat {
    background: black;
    text-align: center;
    font-size: 30px;
    padding-top: 25px;
    color: white;
    font-style: italic;
    text-decoration: none;
    border-radius: 0px 0px 10px 10px;
}
.link_sp_noi_bat {
    color: white;
    text-decoration: none;
}
.section3456 {
    display: grid;
    grid-template-rows: 150px 400px 80px;
    padding: 20px 5%;
}
.div3456_anh {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    padding-top: 15px;
}
.anhRightBottom {
    display: grid;
    grid-template-rows: 310px 80px;
    padding-right: 1%;
    animation: zoom-out 1s ease forwards;
    cursor: pointer;
}
.picture {
    width: 100%;
    height: 100%;
    border-radius: 10px 10px 0px 0px;
}
.anhLeftBottom {
    display: grid;
    grid-template-rows: 310px 80px;
    padding-left: 1%;
    padding-right: 1%;
    animation: zoom-out 1.1s ease forwards;
    cursor: pointer;
}
.anhRightTop {
    display: grid;
    grid-template-rows: 310px 80px;
    padding-left: 1%;
    padding-right: 1%;
    animation: zoom-out 1.2s ease forwards;
    cursor: pointer;
}
.anhLeftTop {
    display: grid;
    grid-template-rows: 310px 80px;
    padding-left: 1%;
    animation: zoom-out 1.3s ease forwards;
    cursor: pointer;
}
.zoom {
    transform: scale(1.2);
    transition: transform 0.3s ease; 
}

#div_chua_view_all {
    text-align: center;
    padding-top: 13px;
}
#viewAll {
    background: black;
    font-size: 20px;
    font-style: italic;
    padding: 16px 18px;
    margin: 15px;
    border-radius: 10px;
    border: 1px black;
}
#view_all_link {
    color: white;
    text-decoration: none;
    font-style: italic;
}
.div_chua_link_san_pham {
    background: wheat;
    text-align: center;
    font-size: 20px;
    padding-top: 25px;
    font-style: italic;
    text-decoration: none;
    border-radius: 0px 0px 10px 10px;
}
.link_san_pham {
  color: black;
  text-decoration: none;
}
.linkHeader:hover {
    color: powderblue;
}
.linkHeader:active {
    color: powderblue;
}
.link_sp_noi_bat:hover {
    color: yellow;
    text-decoration: none;
}
.link_sp_noi_bat:active {
    color: yellow;
    text-decoration: none;
}
.link_san_pham:hover {
    color: green;
    text-decoration: none;
}
.link_san_pham:active {
    color: green;
    text-decoration: none;
}

#viewAll :hover {
    color: yellow;
}
#viewAll :active {
    color: yellow;
}

}
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .container {
      width: 100%;
      height: 14em;
      position: relative;
      margin-bottom: 0%;
    }
    #div_chua_anh_header {
      position: absolute;
      transform: translate(0, 0);
      width: 100%;
      height: 80%;
      background-color: white;
      z-index: 1;
      animation: zoom-out 1s ease forwards;
    }
    #anh_header {
      width: 100%;
      height: 100%;
      transform: scaleX(-1);
  }
    #div_chua_chu_header {
      position: relative;
      width: 40%;
      height: 70%;
      background-color: rgb(58, 51, 51);
      z-index: 2;
      animation: zoom-in 1.3s ease forwards;
      opacity: 0.5;
      left: 53%;
      top: 6%;
      border-radius: 10px;
      font-size: 0.75em;
      text-align: center;
      color: white;
      padding: 1.5% 2% 0% 2%;
    }
    @keyframes zoom-in {
      from {
        transform: translate(0, 0) scale(0.8);
      }
      to {
        transform: translate(0, 0) scale(1);
      }
    }
    
    @keyframes zoom-out {
      from {
        transform: translate(0, 0) scale(0.8);
      }
      to {
        transform: translate(0, 0) scale(1);
      }
    }
  #section2 {
      display: grid;
      grid-template-rows: 25% 75%;
      padding: 1% 5%;
  }
  .div_chu {
      display: grid;
      grid-template-rows: 50% 50%;
  }
  .tieu_de_lon {
      text-align: center;
      text-decoration: none;
      font-size: 25px;
      font-family: ABeeZee;
      font-weight: lighter;
      font-style: italic;
      padding-bottom: 2%;
  }
  .lorem {
      padding: 0;
      text-align: center;
      font-size: 18px;
      color: rgb(38, 224, 21);
      font-family: ABeeZee;
  }
  #div2_anh {
      display: grid;
      grid-template-columns: 33% 31% 33%;
      padding-top: 2%;
  }
  #khoianh1_lead_glass {
      display:grid;
      grid-template-rows: 300px 70px;
      padding-right: 1.5%;
  }
  #khoianh1_lead_curtains {
      display:grid;
      grid-template-rows: 300px 70px;
      padding-right: 2%;
  }
  #khoianh1_xrays_grids {
      display: grid;
      grid-template-rows: 185px 185px;
  }
  #div_chua_xrays {
      display: grid;
      grid-template-rows: 65% 35%;
      padding-bottom: 1px;
  }
  #div_chua_grids {
      display: grid;
      grid-template-rows: 65% 35%;
      padding-top: 1px;
  }
  .div_chua_link_sp_noi_bat {
      background: black;
      text-align: center;
      font-size: 150%;
      font-family: ABeeZee;
      padding-top: 5%;
      color: white;
      font-style: italic;
      text-decoration: none;
      border-radius: 0px 0px 10px 10px;
  }
  .link_sp_noi_bat {
      color: white;
      text-decoration: none;
  }
  .section3456 {
      display: grid;
      grid-template-rows: 15% 70% 12%;
      padding: 1% 5%;
  }
  .div3456_anh {
      display: grid;
      grid-template-columns: auto auto;
  }
  .anhRightBottom {
      display: grid;
      grid-template-rows: 220px 80px;
      padding-right: 0.5%;
      padding-bottom: 0.5%;
  }
  .picture {
      width: 100%;
      height: 100%;
      border-radius: 10px 10px 0px 0px;
  }
  .anhLeftBottom {
      display: grid;
      grid-template-rows: 220px 80px;
      padding-left: 0.5%;
      padding-bottom: 0.5%;
  }
  .anhRightTop {
      display: grid;
      grid-template-rows: 220px 80px;
      padding-right: 0.5%;
      padding-top: 0.5%;
  }
  .anhLeftTop {
      display: grid;
      grid-template-rows: 220px 80px;
      padding-left: 0.5%;
      padding-top: 0.5%;
  }
  #div_chua_view_all {
      text-align: center;
      padding-top: 50px;
  }
  #viewAll {
      background: black;
      font-size: 18px;
      font-family: ABeeZee;
      padding: 2% 2%;
      border-radius: 10px;
      border: 1px black;
  }
  #view_all_link {
      color: white;
      text-decoration: none;
      font-family: ABeeZee;
  }
  .div_chua_link_san_pham {
      background: black;
      text-align: center;
      font-size: 1.3em;
      padding-top: 5%;
      font-family: ABeeZee;
      text-decoration: none;
      border-radius: 0px 0px 10px 10px;
  }
  .link_san_pham {
  color: white;
  text-decoration: none;
  }
}
@media screen and (min-width: 481px) and (max-width: 767px) {
    #header {
        display: grid;
        grid-template-rows: 70% 30%;
        background-color: white;
        color: #fff;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1000;
        height: 5.2em;
      }
      #div_logo_searchBox {
        display: grid;
        grid-template-columns: 50% 50%;
      }
      #div_logo {
        padding: 1% 0% 0% 2%;
        width: 33%;
      }
      #logo {
        width: 6em;
      }
      #searchBox {
        float: right;
        padding: 8% 1% 0% 20%;
        width: 90%;
        animation: zoom-out 1s ease-in;
      }
      #searchInput {
        width: 50%;
        padding: 2% 2%;
        border: 1px solid;
        border-radius: 10px;
        transition: all 0.4s ease-in-out;
      }
      #searchInput:focus {
        width: 60%;
      }
      #searchBtn {
        width: 20%;
        padding: 2% 2%;
        background-color: blue;
        color: #fff;
        border: none;
        border-radius: 10px;
      }
      #all_menu {
        padding-top: 1.5em;
        display: grid;
        grid-template-columns: 82% 18%;
        height: 2.1em;
      }
      .menu-container {
        background-color: #108810;
        width: 100%;
        overflow-x: auto;
      }
      
      .menu {
        list-style-type: none;
        padding: 0;
        margin: 0;
        white-space: nowrap;
      }
      
      .menu li {
        display: inline-block;
      }
      
      .menu li a {
        display: block;
        padding: 2% 1em;
        text-decoration: none;
        font-size: 1.1em;
        color: white;
        transition: background-color 0.3s ease;
      }
      .order_now {
        background-color: #108810;
        width: 100%;
        overflow: hidden;
      }
      .menu-orderNow {
        list-style-type: none;
        padding: 1% 2%;
        margin: 1% 0;
        white-space: nowrap;
      }
      .menu-orderNow li {
        display: inline-block;
      }
      .menu-orderNow li a {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        text-decoration: none;
        font-size: 1.1em;
        color: blue;
      }
      .container {
        padding-top: 6.8em;
        width: 100%;
        height: 10em;
        position: relative;
        margin-bottom: 5%;
      }
      #div_chua_anh_header {
        position: absolute;
        transform: translate(0, 0);
        width: 100%;
        height: 60%;
        background-color: white;
        z-index: 1;
        animation: zoom-out 1s ease forwards;
      }
      #anh_header {
        width: 100%;
        height: 100%;
        transform: scaleX(-1);
    }
      #div_chua_chu_header {
        display: none;
      }
      @keyframes zoom-in {
        from {
          transform: translate(0, 0) scale(0.8);
        }
        to {
          transform: translate(0, 0) scale(1);
        }
      }
      
      @keyframes zoom-out {
        from {
          transform: translate(0, 0) scale(0.8);
        }
        to {
          transform: translate(0, 0) scale(1);
        }
      }
    #section2 {
        display: grid;
        grid-template-rows: 10% 75%;
        padding: 3% 5%;
    }
    .div_chu {
        display: grid;
        grid-template-rows: 50% 50%;
    }
    .tieu_de_lon {
        text-align: center;
        text-decoration: none;
        font-size: 25px;
        font-family: ABeeZee;
        font-weight: lighter;
        font-style: italic;
        padding-bottom: 2%;
    }
    .lorem {
        padding: 0;
        text-align: center;
        font-size: 18px;
        color: rgb(38, 224, 21);
    }
    #div2_anh {
        display: inline;
        /* grid-template-columns: auto auto; */
        padding: 5% 0 5% 0;
    }
    #khoianh1_lead_glass {
        display:grid;
        grid-template-rows: 15em 4em;
        padding-bottom: 2px;
        animation: zoom-out 1s ease forwards;
    }
    #khoianh1_lead_curtains {
        display:grid;
        grid-template-rows: 15em 4em;
        padding-bottom: 2px;
        animation: zoom-out 1.1s ease forwards;
    }
    #khoianh1_xrays_grids {
        display: grid;
        grid-template-columns: auto auto;
    }
    #div_chua_xrays {
        display: grid;
        grid-template-rows: 80% 20%;
        padding: 0px 0px 1px 1px;
        animation: zoom-out 1.2s ease forwards;
    }
    #div_chua_grids {
        display: grid;
        grid-template-rows: 80% 20%;
        padding: 1px 0px 0px 1px;
        animation: zoom-out 1.3s ease forwards;
    }
    .div_chua_link_sp_noi_bat {
        background: black;
        text-align: center;
        font-size: 150%;
        padding-top: 3%;
        color: white;
        font-style: italic;
        text-decoration: none;
        border-radius: 0px 0px 10px 10px;
    }
    .link_sp_noi_bat {
        color: white;
        text-decoration: none;
    }
    .section3456 {
        display: grid;
        grid-template-rows: 15% 65% 10%;
        padding: 3% 5%;
    }
    .div3456_anh {
        display: grid;
        grid-template-columns: auto auto;
    }
    .anhRightBottom {
        display: grid;
        grid-template-rows: 13em 3em;
        padding-right: 0.5%;
        padding-bottom: 0.5%;
        animation: zoom-out 1s ease forwards;
    }
    .picture {
        width: 100%;
        height: 100%;
        border-radius: 10px 10px 0px 0px;
    }
    .anhLeftBottom {
        display: grid;
        grid-template-rows: 13em 3em;
        padding-left: 0.5%;
        padding-bottom: 0.5%;
        animation: zoom-out 1.1s ease forwards;
    }
    .anhRightTop {
        display: grid;
        grid-template-rows: 13em 3em;
        padding-right: 0.5%;
        padding-top: 0.5%;
        animation: zoom-out 1.2s ease forwards;
    }
    .anhLeftTop {
        display: grid;
        grid-template-rows: 13em 3em;
        padding-left: 0.5%;
        padding-top: 0.5%;
        animation: zoom-out 1.3s ease forwards;
    }
    #div_chua_view_all {
        text-align: center;
        padding-top: 64px;
    }
    #viewAll {
        background: black;
        font-size: 15px;
        font-style: italic;
        padding: 2% 2%;
        border-radius: 10px;
        border: 1px black;
    }
    #view_all_link {
        color: white;
        text-decoration: none;
        font-style: italic;
    }
    .div_chua_link_san_pham {
        background: rgb(153, 114, 114);
        text-align: center;
        font-size: 118%;
        padding-top: 3%;
        color: black;
        font-style: italic;
        text-decoration: none;
        border-radius: 0px 0px 10px 10px;
    }
}
.link_san_pham {
    color: black;
    text-decoration: none;
}
.linkHeader:hover {
    color: brown;
}
.linkHeader:active {
    color: brown;
}
.link_sp_noi_bat:hover {
    color: yellow;
}
.link_sp_noi_bat:active {
    color: yellow;
}
#viewAll :hover {
    color: yellow;
}
#viewAll :active {
    color: yellow;
}
.link_san_pham:hover {
    color: blue;
}
.link_san_pham:active {
    color: blue;
}
.footer{
    background-color: black;
    padding: 50px 100px;
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    box-sizing: border-box;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
ul{
    list-style: none;
    padding-inline-start: 0;
}
.footer-col{
    width: 20%;
    padding: 0 15px;
}
.footer-col h4{
    font-size: 18px;
    color: #ffffff;
    font-weight: bold;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}
.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}
.footer-col ul li {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a{
    text-decoration: none;
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover{
    color: #ffffff;
    padding-left: 8px;
}
.footer-col .social-links a{
    display: inline;
    font-size: 20px;
    margin:0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    color: #bbb;
    transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
    color: white;
}
/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}
@media only screen and (max-width: 480px) {
    #header {
        display: grid;
        grid-template-rows: 70% 30%;
        background-color: white;
        color: #fff;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1000;
        height: 5.2em;
      }
      #div_logo_searchBox {
        display: grid;
        grid-template-columns: 30% 70%;
      }
      #div_logo {
        padding: 2% 0% 0% 2%;
        width: 33%;
      }
      #logo {
        width: 6em;
      }
      #searchBox {
        float: right;
        padding: 12% 1% 0% 20%;
        width: 90%;
        animation: zoom-out 1s ease-in;
      }
      #searchInput {
        width: 40%;
        padding: 2% 2%;
        border: 1px solid;
        border-radius: 10px;
        transition: all 0.4s ease-in;
      }
      #searchInput:focus {
        width: 55%;
      }
      #searchBtn {
        width: 20%;
        padding: 2% 2%;
        background-color: rgb(9, 173, 58);
        color: #fff;
        border: none;
        border-radius: 10px;
      }
      #all_menu {
        padding-top: 1.5em;
        display: grid;
        grid-template-columns: 70% 30%;
        height: 1.8em;
      }
      .menu-container {
        background-color: #108810;
        width: 100%;
        overflow-x: auto;
      }
      .menu {
        list-style-type: none;
        padding: 0;
        margin: 0;
        white-space: nowrap;
      }
      .menu li {
        display: inline-block;
      }
      .menu li a {
        display: block;
        padding: 2% 1em;
        text-decoration: none;
        font-size: 1em;
        color: white;
        transition: background-color 0.3s ease;
      }
      .order_now {
        background-color: #108810;
        width: 100%;
        overflow: hidden;
      }
      .menu-orderNow {
        list-style-type: none;
        padding: 1% 2%;
        margin: 1% 0;
        white-space: nowrap;
      }
      .menu-orderNow li {
        display: inline-block;
      }
      .menu-orderNow li a {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        text-decoration: none;
        font-size: 1em;
        color: blue;
      }
      .container {
        padding-top: 6.8em;
        width: 100%;
        height: 8em;
        position: relative;
        margin-bottom: 5%;
      }
      #div_chua_anh_header {
        position: absolute;
        transform: translate(0, 0);
        width: 100%;
        height: 60%;
        background-color: white;
        z-index: 1;
        animation: zoom-out 1s ease forwards;
      }
      #anh_header {
        width: 100%;
        height: 100%;
        transform: scaleX(-1);
    }
      #div_chua_chu_header {
        display: none;
      }
      @keyframes zoom-in {
        from {
          transform: translate(0, 0) scale(0.8);
        }
        to {
          transform: translate(0, 0) scale(1);
        }
      }
      
      @keyframes zoom-out {
        from {
          transform: translate(0, 0) scale(0.8);
        }
        to {
          transform: translate(0, 0) scale(1);
        }
      }
#section2 {
    display: grid;
    grid-template-rows: 110px 1370px;
    padding: 20px 5%;
}
.div_chu {
    display: grid;
    grid-template-rows: 50px 50px;
}
.tieu_de_lon {
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    font-family: ABeeZee;
    font-weight: lighter;
    font-style: italic;
    padding-bottom: 2px;
}
.lorem {
    text-align: center;
    font-size: 16px;
    color: rgb(38, 224, 21);
    padding-top: 3px;
}
#div2_anh {
    display: grid;
    grid-template-columns: auto;
    padding-top: 10px;
}
#khoianh1_lead_glass {
    display:grid;
    grid-template-rows: 310px 60px;
}
#khoianh1_lead_curtains {
    display:grid;
    grid-template-rows: 310px 60px;
}
#khoianh1_xrays_grids {
    display: grid;
    grid-template-rows: 300px 300px;
}
#div_chua_xrays {
    display: grid;
    grid-template-rows: 250px 50px;
}
#div_chua_grids {
    display: grid;
    grid-template-rows: 250px 50px;
    padding-top: 5px;
}
.div_chua_link_sp_noi_bat {
    background: black;
    text-align: center;
    font-size: 30px;
    padding-top: 10px;
    color: white;
    font-style: italic;
    text-decoration: none;
    border-radius: 0px 0px 10px 10px;
}
.link_sp_noi_bat {
    color: white;
    text-decoration: none;
}
.section3456 {
    display: grid;
    grid-template-rows: 110px 1040px 80px;
    padding: 20px 5%;
}
.div3456_anh {
    display: grid;
    grid-template-columns: auto;
    padding-top: 15px;
}
.anhRightBottom {
    display: grid;
    grid-template-rows: 200px 60px;
    padding-bottom: 1%;
}
.picture {
    width: 100%;
    height: 100%;
    border-radius: 10px 10px 0px 0px;
}
.anhLeftBottom {
    display: grid;
    grid-template-rows: 200px 60px;
    padding-bottom: 1%;
}

.anhRightTop {
    display: grid;
    grid-template-rows: 200px 60px;
    padding-bottom: 1%;
}

.anhLeftTop {
    display: grid;
    grid-template-rows: 200px 60px;
    padding-bottom: 1%;
}
#div_chua_view_all {
    text-align: center;
    padding-top: 4%;
}
#viewAll {
    background: black;
    font-size: 18px;
    font-style: italic;
    padding: 3% 3% 3% 3%;
    margin: 15px;
    border-radius: 10px;
    border: 1px black;
}
#view_all_link {
    color: white;
    text-decoration: none;
    font-style: italic;
}
.div_chua_link_san_pham {
    background: rgb(153, 114, 114);
    text-align: center;
    font-size: 20px;
    padding-top: 13px;
    color: black;
    font-style: italic;
    text-decoration: none;
    border-radius: 0px 0px 10px 10px;
}
.link_san_pham {
    text-decoration: none;
    color: black;
}
}